.axis path, .axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}
.tsChartContainer .x text{
  fill: #626262;
  stroke: none;
  /*letter-spacing:1px;*/
  font-family: "PingFangSC-Regular";
  font-size: 10px;
}